.apartments-module .card-text {
    font-size:14px;
}

.apartments-module .info-card {
    background: white;
    padding: 0 5px;
}

.apartments-module .card {
    background: none;
    border: 4px solid rgba(0, 0, 0, 0.01) !important;
}

.apartments-module .red-dot {
    width:10px;
    height:10px;
    border-radius:100%;
    background-color:red;
    display:inline-block;
}

.apartments-module .green-dot {
  width:10px;
  height:10px;
  border-radius:100%;
  background-color:green;
  display:inline-block;
}